@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Audiowide";
  src: url("/fonts/Audiowide-Regular.ttf")
}

@font-face {
  font-family: "Baskerville Regular";
  src: url("/fonts/Baskerville-Regular.ttf")
}

@font-face {
  font-family: "Baskerville Bold";
  src: url("/fonts/Baskerville-Bold.ttf")
}

@font-face {
  font-family: "Baskerville Italic";
  src: url("/fonts/Baskerville-Italic.ttf")
}

@font-face {
  font-family: "Clicker Script";
  src: url("/fonts/ClickerScript-Regular.ttf")
}

@font-face {
  font-family: "IndieFlower";
  src: url("/fonts/IndieFlower-Regular.ttf")
}

@font-face {
  font-family: "Menlo";
  src: url("/fonts/Menlo.ttc")
}

@font-face {
  font-family: "PollerOne";
  src: url("/fonts/PollerOne-Regular.ttf")
}

@font-face {
  font-family: "PrincessJohn";
  src: url("/fonts/PrincessJohn.ttf")
}

@font-face {
  font-family: "SongMyung";
  src: url("/fonts/SongMyung-Regular.ttf")
}

@font-face {
  font-family: "Tomorrow";
  src: url("/fonts/Tomorrow-Regular.ttf")
}

* {
  -webkit-tap-highlight-color: transparent;
}

.MathJax_SVG{
  font-size: 100%;
  position: relative;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: auto !important;
}
.MathJax_SVG svg{
  display: inline-block;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
}

.scrollbar-hidden{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

mjx-container {
  width: 100%;
}

span .MathJax_SVG{
  display: ruby !important;
  margin: 0 !important;
}

.menu-icon-svg{
  transition: all 0.3s ease;;
}

.close-icon-svg-1 {
  transform: translate(10px, -1px) rotate(48deg);
}

.close-icon-svg-2 {
  transform: translate(-12px, 10px) rotate(-45deg);
}

.animated-height-0 {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 1s;
}

.animated-height-full {
  grid-template-rows: 1fr;
}

.tab:hover:not(.disabled) > path:first-child {
  fill: #aff160 !important;
  font-weight: bold;
  border-radius: 4px;
}

/* solution svg css */

.solution_button_svg{
  transform: translateX(32%);
}

.solution_button_inscription {
  transform: translateY(-35px);
  margin: auto;
  display: block;
  width: fit-content;
}

.notes_header_inscription {
  position: absolute;
  left: 242px;
  top: 37px;
  pointer-events: none;
}

.solution_button_div {
  height: 51px;
  padding-top: 28px;
}

.pointing_finger_backhand {
  fill: white;
  stroke: white;
  stroke-width: 1;
}

.pointing_finger_knuckle_zone {
  fill: white;
  stroke: white;
  stroke-width: 4;
}

.pointing_finger_cuff_zone {
  fill: white;
  stroke: white;
  stroke-width: 3;
}

.focus_alpha_fill{
  fill: #0000;
}

.solution_button_transition {
  transition: 0.3s;
}

.active_solution_button_rect {
  fill: #ffe3ed;
  stroke: none;
  cursor: pointer;
  transition: 0.3s;
}

.active_solution_button_lip {
  stroke-width: 1.2px;
  stroke: #000;
  fill: none;
}

.inactive_solution_button_lip {
  stroke-width: 1.4px;
  stroke: #464646;
  fill: none;
}

.inactive_solution_button_rect {
  fill: #ebebeb;
  stroke: none;
  cursor: pointer;
  transition: 0.3s;
}

.inactive_solution_button_hands {
  fill: #333;
}

.active_solution_button_hands {
  fill: black;
}


@media (min-width: 520px) {
  .gridColsWidth {
    grid-template-columns: 1fr 488px 1fr;
  }
}